@import 'base';

#app {
  margin: 0 auto;
  color: var(--color-text);
  font-weight: normal;
  opacity: 1;
}
.fa {
  width: 1.25em;
  display: inline-block;
  fill: currentcolor;
}

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.prose {
  color: currentcolor;
}

.no-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}

.page .blok {
  padding: 1rem;

  &.wide {
    @apply col-span-2 xl:col-span-3;
  }
}
a,
.green {
  text-decoration: none;
  color: var(--vt-c-green);
  transition: 0.2s;
}

a {
  padding: 0.125rem;
  &:hover {
    @media (hover: hover) {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}


#feat_image {
	// :src="story.content.Image.filename + '/m/400x300/filters:format(png)'"
	// :dataSrcSet="
	// 		story.content.Image.filename + '/m/500x400/' + filtersList + ' 500w,'
	// 	+ story.content.Image.filename + '/m/768x400/' + filtersList + ' 768w,'
	// 	+ story.content.Image.filename + '/m/1024x500/' + filtersList + ' 1024w,'
	// 	+ story.content.Image.filename + '/m/1700x900/' + filtersList + ' 1700w'"
	aspect-ratio: 4/3;
	@media (min-width: 500px) { // browser window width
		aspect-ratio: 5/4;
	}
	@media (min-width: 768px) {
		aspect-ratio: 768/400;
	}
}

@media (prefers-reduced-motion) {
  html *,
  html *:before,
  html *:after {
    animation: none !important;
  }
}
